<h2>{{post.title}}</h2>
<p>{{post.content}}</p>

<a href="/post/{{post.id}}/edit">edit</a>
<a href="/" class="card-link">View More</a>

<form action="/post/{{post.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>
<br>
<br>
{{#each post.comments}}
<div class="card">
    <p>{{content}}</p>
</div>
{{/each}}
<form action="/post/{{post.id}}/comment?_method=PUT" method="post"></form>
<p>

    <p>
        <label for="content">Comment:</label>
        <input type="text" name="content" id="content">
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
    </form>