<h2 class="mb-3"></h2>

{{#if posts }}
{{#each posts }}
<div class="card-body">
    <h2><a href="/post/{{id}}">{{title}}</a></h2>

    <p> {{content}}</p>
    <span class="post_comments" href="/post/{{ comments.length }}/comments"></span>
    {{!-- <span class="post_comments">{{ comments.length }} Comments</span> --}}
    <div class="card-footer">
        <a href="/" class="card-link"></a>
    </div>
</div>
{{/each}}
{{/if}}

<div class="card-deck mt-5">
    <div class="card">
        <div class="card-body">
            <a href="/post/new" class="btn btn-success">Add a new post</a>
        </div>
    </div>
</div>